{% for category in categories %}<li class="dropdown active">
    {% if category.level == 1 %}<a href="{{ category.get_absolute_url }}" class="dropdown-toggle"> {{ category.name }}<b class="caret"></b> </a>{% endif %}
    <ul class="dropdown-menu">
        {% for categor in categories %}{% if categor.parent_id == category.pk %}<li><a href="{{ categor.get_absolute_url }}">{{ categor.name }}</a></li>{% endif %}
        {% endfor %}
    </ul>
</li>{% endfor %}