{% extends "base.html" %}


{% block content %}
    <div class="darker-stripe">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{% url 'home' %}">Главная</a>
                        </li>
                        <li><span class="icon-chevron-right"></span></li>
                        <li>
                            <a href="{% url 'content:pagelist' %}">Статьи, обзоры, советы</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="push-up top-equal blocks-spacer">
            <div class="row">
                <div class="span12">
                    <div class="title-area">
                        <h1 class="inline"><span class="light">Блог </span>{{ site.sites.name }}</h1>
                        <h2 class="inline tagline">- Интересные статьи, полезные советы, подробные обзоры</h2>
                    </div>
                </div>

                <!--  ==========  -->
                <!--  = Main content =  -->
                <!--  ==========  -->
                <section class="span8 blog">


                    {% for page in pages %}
                    <article class="post format-standard">
                        <div class="post-inner">
                            <div class="post-title">
                            	<h2><a href="{{ page.get_absolute_url }}">{{ page.name }}</a></h2>
                            	<div class="metadata">
                            	    {{ page.create|date:"d F Y" }}
                            	</div>
                            </div>

                            <p class="push-down-0">
                                <img src="{{ MEDIA_URL }}{{ page.images }}" />{{ page.min_text|linebreaksbr }}
                            </p>
                        </div>
                    </article>
                    {% endfor %}

                    <hr />

                    <!--  ==========  -->
                    <!--  = Pagination =  -->
                    <!--  ==========  -->
                    {% if is_paginated %}<div class="pagination pagination-centered">
                        <ul>
                            {% if page_obj.has_previous %}
                            <li><a href="{% if page_obj.previous_page_number == 1 %}{{ category.get_absolute_url }}{% else %}{{ category.get_absolute_url }}?page={{ page_obj.previous_page_number }}{% endif %}" class="btn btn-primary"><span class="icon-chevron-left"></span></a></li>
                            {% endif %}

                            {% for pag_num in page_lists %}
                                {% if pag_num != "..." %}
                                    <li{% if pag_num == page_obj.number  %} class="active"{% endif %}><a href="{% if pag_num == 1 %}{{ category.get_absolute_url }}{% else %}{{ category.get_absolute_url }}?page={{ pag_num }}{% endif %}">{{ pag_num }}</a></li>
                                {% else %}
                                    <li><a>{{ pag_num }}</a></li>
                                {% endif %}
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li><a href="{{ category.get_absolute_url }}?page={{ page_obj.next_page_number }}" class="btn btn-primary"><span class="icon-chevron-right"></span></a></li>
                            {% endif %}
                        </ul>
                    </div>{% endif %} <!-- /pagination -->

                </section> <!-- /main content -->

                <!--  ==========  -->
                <!--  = Sidebar =  -->
                <!--  ==========  -->
                <aside class="span4 right-sidebar">
                    <!--  ==========  -->
                    <!--  = Twitter Widget =  -->
                    <!--  ==========  -->
                    <div class="sidebar-item widget_twitter">
{#                        <div class="underlined">#}
{#                            <h3><span class="light">Следите за новинками в </span> Твиттере</h3>#}
{#                        </div>#}
{#                        <a class="twitter-timeline"  href="https://twitter.com/primozcigler"  data-widget-id="361435057526800385">Tweets by @primozcigler</a>#}
{#<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>#}
                    </div>
                </aside> <!-- /sidebar -->
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}