{% load staticfiles thumbnail catalog_tag cache %}<!DOCTYPE html>
<!--[if lt IE 8]>      <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]>         <html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if seo.title %}{{ seo.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="keywords" content="{% if seo.keywords %}{{ seo.keywords }}{% else %}{{ site.keywords }}{% endif %}" />
    <meta name="description" content="{% if seo.description %}{{ seo.description }}{% else %}{{ site.description }}{% endif %}" />

    {% autoescape off %}{{ site.sites.meta }}{% endautoescape %}

    <!--  Google Fonts  -->
    <link href='http://fonts.googleapis.com/css?family=Pacifico|Open+Sans:400,700,400italic,700italic&amp;subset=latin,latin-ext,greek' rel='stylesheet' type='text/css'>

    <!-- Twitter Bootstrap -->
    <link href="{% static 'stylesheets/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'stylesheets/responsive.css' %}" rel="stylesheet">
    <!-- Slider Revolution -->
    <link rel="stylesheet" href="{% static 'js/rs-plugin/css/settings.css' %}" type="text/css"/>
    <!-- jQuery UI -->
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.10.3/css/smoothness/jquery-ui-1.10.3.custom.min.css' %}" type="text/css"/>
    <!-- PrettyPhoto -->
    <link rel="stylesheet" href="{% static 'js/prettyphoto/css/prettyPhoto.css' %}" type="text/css"/>
    <!-- main styles -->

    <link href="{% static 'stylesheets/main.css' %}" rel="stylesheet">



    <!-- Modernizr -->
    <script src="{% static 'js/modernizr.custom.56918.js' %}"></script>

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/apple-touch/144.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/apple-touch/114.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'images/apple-touch/72.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/apple-touch/57.png' %}">
    <link rel="shortcut icon" href="{% static 'images/apple-touch/57.png' %}">

    {% block metatsg %}{% endblock %}
    {% block css %}{% endblock %}
  </head>


  <body class="">

    <div class="master-wrapper">

    <!--  ==========  -->
    <!--  = Header =  -->
    <!--  ==========  -->
    <header id="header">
        <div class="container">
            <div class="row">

                <!--  ==========  -->
                <!--  = Logo =  -->
                <!--  ==========  -->
                <div class="span7">
                    <a class="brand" href="{% url 'home' %}">
                        <img src="{% static 'images/oblakomody_logo.png' %}" alt="{{ site.name }}" width="48" height="48" />
                        <span class="pacifico">{{ site.name }}</span>
                        <span class="tagline">{{ site.description }}</span>
                    </a>
                </div>

                <!--  ==========  -->
                <!--  = Social Icons =  -->
                <!--  ==========  -->
                <div class="span5">
                    <div class="top-right">
                        <strong style="font-size: 40px; color: #FC6540; font-weight: normal; position: relative;">{{ base_item|ru_price }} <b style="color: #727272; font-size: 20px; font-weight: normal; position: relative; top: -5px;">Товаров</b></strong><br>
                        <img src="{% static 'images/bg_365.png' %}" alt="365 дней возврата" title="365 дней возврата" id="img_1" />
                        <img src="{% static 'images/bg_dostavka.png' %}" alt="Бесплатная доставка" title="Бесплатная доставка" id="img_2" /><br><br>
                    </div>
                </div> <!-- /social icons -->
            </div>
        </div>
    </header>

    <!--  ==========  -->
    <!--  = Main Menu / navbar =  -->
    <!--  ==========  -->
    <div class="navbar navbar-static-top" id="stickyNavbar">
      <div class="navbar-inner">
        <div class="container">
          <div class="row">
            <div class="span9">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>

                <!--  ==========  -->
                <!--  = Menu =  -->
                <!--  ==========  -->

                <div class="nav-collapse collapse">
                  <ul class="nav" id="mainNavigation">
                      {% cache 3600 catalog_top_menu %}
                      {% catalog_top_menu %}
                      {% endcache %}
                  </ul>
                </div><!-- /.nav-collapse -->
            </div>

            <!--  ==========  -->
            <!--  = Search form =  -->
            <!--  ==========  -->
            <div class="span3">
                <form class="navbar-form pull-right" action="#" method="get">
                    <button type="submit"><span class="icon-search"></span></button>
                    <input type="text" class="span1" name="search" id="navSearchInput">
                </form>
            </div> <!-- /cart -->
          </div>
        </div>
      </div>
    </div> <!-- /main menu -->




    {% block content %}{% endblock %}


    <!--  ==========  -->
    <!--  = Footer =  -->
    <!--  ==========  -->
    <footer>
        {% block upper_footer %}{% endblock %}
        <!--  ==========  -->
        <!--  = Middle footer =  -->
        <!--  ==========  -->
        <div class="foot-dark">
            <div class="container">
                <div class="row">

                    {% for menu in footer_menu %}
                    <div class="span3">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">{{ menu.name }}</span></h3>
                        </div>
                        <ul class="nav bold">
                         {% for sub_m in menu.footer_menu.all %}
                            <li><a href="{{ sub_m.url }}">{{ sub_m.name }}</a></li>
                         {% endfor %}
                        </ul>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div> <!-- /middle footer -->

        <!--  ==========  -->
        <!--  = Bottom Footer =  -->
        <!--  ==========  -->
        <div class="foot-last">
            <a href="#" id="toTheTop">
                <span class="icon-chevron-up"></span>
            </a>
            <div class="container">

            </div>
        </div> <!-- /bottom footer -->
    </footer> <!-- /footer -->


    </div> <!-- end of master-wrapper -->

    {% autoescape off %}{{ site.sites.footer }}{% endautoescape %}



    <!--  ==========  -->
    <!--  = JavaScript =  -->
    <!--  ==========  -->

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=126780447403102";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

     <!--  = jQuery - CDN with local fallback =  -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        document.write('<script src="/static/js/jquery.min.js"><\/script>');
    }
    </script>

    <!--  = _ =  -->
    <script src="{% static 'js/underscore/underscore-min.js' %}" type="text/javascript"></script>

    <!--  = Bootstrap =  -->
    <script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>

    <!--  = Slider Revolution =  -->
    <script src="{% static 'js/rs-plugin/pluginsources/jquery.themepunch.plugins.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/rs-plugin/js/jquery.themepunch.revolution.min.js' %}" type="text/javascript"></script>

    <!--  = CarouFredSel =  -->
    <script src="{% static 'js/jquery.carouFredSel-6.2.1-packed.js' %}" type="text/javascript"></script>

    <!--  = jQuery UI =  -->
    <script src="{% static 'js/jquery-ui-1.10.3/js/jquery-ui-1.10.3.custom.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery-ui-1.10.3/touch-fix.min.js' %}" type="text/javascript"></script>

    <!--  = Isotope =  -->
    <script src="{% static 'js/isotope/jquery.isotope.min.js' %}" type="text/javascript"></script>

    <!--  = Tour =  -->
    <script src="{% static 'js/bootstrap-tour/build/js/bootstrap-tour.min.js' %}" type="text/javascript"></script>

    <!--  = PrettyPhoto =  -->
    <script src="{% static 'js/prettyphoto/js/jquery.prettyPhoto.js' %}" type="text/javascript"></script>

    <!--  = Google Maps API =  -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{% static 'js/goMap/js/jquery.gomap-1.3.2.min.js' %}"></script>

    <!--  = Custom JS =  -->
    <script src="{% static 'js/custom.js' %}" type="text/javascript"></script>

    {% block javascript %}{% endblock %}

  </body>
</html>


