{% extends 'base.html' %}
{% load staticfiles thumbnail catalog_tag cache %}

{% block content %}
    <div class="fullwidthbanner-container">
         <br><br>
    </div> <!-- /slider revolution -->

    <!--  ==========  -->
    <!--  = Main container =  -->
    <!--  ==========  -->


    <!--  ==========  -->
    <!--  = New Products =  -->
    <!--  ==========  -->
    <div class="boxed-area blocks-spacer">
        <div class="container">

            <!--  ==========  -->
            <!--  = Title =  -->
            <!--  ==========  -->
            <div class="row">
                <div class="span12">
                    <div class="main-titles lined">
                    	<h2 class="title"><span class="light">Категории</span> товаров</h2>
                    </div>
                </div>
            </div> <!-- /title -->

            <div class="row popup-products blocks-spacer">
            {% cache 3600 category_home %}
                {% for cat in category %}
            	<div class="span3">
            	    <div class="product">
            	        <div class="product-img">
                            <div class="picture">
                                {% if not cat.images %}
                                    <img src="{% static 'images/no_img.png' %}" alt="" />
                                {% else %}
                                    {% thumbnail cat.images "400x400" crop="50% 0%" as im %}<img src="{{ im.url }}" alt="" />{% endthumbnail %}
                                {% endif %}
                                <div class="img-overlay">
                                    <a href="{{ cat.get_absolute_url }}" class="btn more btn-primary">Подробнее</a>
                                </div>
                            </div>
                        </div>
                        <div class="main-titles no-margin">
                            <a href="{{ cat.get_absolute_url }}"><h4 class="title" style="text-align: center;">{{ cat.name }}</h4></a>
                        </div>
            	    </div>
            	</div>
                {% endfor %}
            {% endcache %}
            </div>
        </div>
    </div> <!-- /new products -->

    <!--  ==========  -->
    <!--  = Most Popular products =  -->
    <!--  ==========  -->
    <div class="most-popular blocks-spacer">
    	<div class="container">

    	    <!--  ==========  -->
			<!--  = Title =  -->
			<!--  ==========  -->
    	    <div class="row">
    	    	<div class="span12">
    	    	    <div class="main-titles lined">
    	                <h2 class="title"><span class="light">Популярные</span> Товары</h2>
    	            </div>
    	    	</div>
    	    </div> <!-- /title -->

	    	<div class="row popup-products">

{#            {% cache 86400 top_items_home %}#}
{#                {% for item in items %}#}
{#		        <!--  ==========  -->#}
{#				<!--  = Product =  -->#}
{#				<!--  ==========  -->#}
{#                <div class="span3">#}
{#                    <div class="product">#}
{#                        {% if item.oldprice %}<div class="stamp red">-{{ item.percent }}%</div>{% endif %}#}
{#                        <div class="product-img">#}
{#                            <div class="picture">#}
{#                                <img src="{{ item.image }}" alt="{{ item.name }}" />#}
{#                                <div class="img-overlay">#}
{#                                    <a href="{{ item.get_absolute_url }}" class="btn more btn-primary">Подробнее</a>#}
{#                                    <a href="{{ item.get_goto_url }}" class="btn buy btn-danger">Купить</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="main-titles no-margin">#}
{#                            <h4 class="title">#}
{#                                {% if item.oldprice %}#}
{#                                    <span class="striked">{{ item.oldprice|ru_price }} <small>{{ item.currency }}</small></span>#}
{#                                    <span class="red-clr">{{ item.price|ru_price }} <small>{{ item.currency }}</small></span>#}
{#                                {% else %}#}
{#                                    {{ item.price|ru_price }} <small>{{ item.currency }}</small>#}
{#                                {% endif %}#}
{#                            </h4>#}
{#                            <a href="{{ item.get_absolute_url }}"><h5 class="no-margin fixheight">{{ item.name }}</h5></a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div> <!-- /product -->#}
{#                {% endfor %}#}
{#            {% endcache %}#}


            </div>
    	</div>
    </div> <!-- /most popular -->


    <!--  ==========  -->
    <!--  = Lastest News =  -->
    <!--  ==========  -->
    <div class="darker-stripe blocks-spacer more-space latest-news with-shadows">
        <div class="container">

    	    <!--  ==========  -->
			<!--  = Title =  -->
			<!--  ==========  -->
    		<div class="row">
    			<div class="span12">
    			    <div class="main-titles center-align">
    			        <h2 class="title">
    			            <span class="clickable icon-chevron-left" id="tweetsLeft"></span> &nbsp;&nbsp;&nbsp;
    			             <a href="{% url 'content:pagelist' %}">Статьи, советы, обзоры</a> &nbsp;&nbsp;&nbsp;
    			            <span class="clickable icon-chevron-right" id="tweetsRight"></span>
			            </h2>
    			    </div>
    			</div>
    		</div> <!-- /title -->

    		<!--  ==========  -->
			<!--  = News content =  -->
			<!--  ==========  -->
    		<div class="row">
    		    <div class="span12">
    		        <div class="carouFredSel" data-nav="tweets" data-autoplay="false">


		                <!--  ==========  -->
						<!--  = Slide =  -->
						<!--  ==========  -->
                        {% for pages in slid_pages %}
                        <div class="slide">
                        	<div class="row">
                                {% for page in pages %}
                        		<div class="span6">
                        		    <div class="news-item">
                        		        <div class="published">{{ page.create|date:"d F Y" }}</div>
                        		        <h6><a href="{{ page.get_absolute_url }}">{{ page.name }}</a></h6>
                        		        <p><img src="{{ MEDIA_URL }}{{ page.images }}" />{{ page.min_text|linebreaksbr }}</p>
                        		    </div>
                        		</div>
                                {% endfor %}
                        	</div>
                        </div>
                        {% endfor %}

                        <!-- /slide -->

                    </div>
    		    </div>
    		</div> <!-- /news content -->
    	</div>

    </div> <!-- /latest news -->

    <!--  ==========  -->
    <!--  = Brands Carousel =  -->
    <!--  ==========  -->
	<div class="container">

	</div> <!-- /brands carousel -->

{% endblock %}









{% block upper_footer %}
    <!--  ==========  -->
        <!--  = Upper footer =  -->
        <!--  ==========  -->
        <div class="foot-light">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <h2 class="pacifico">{{ site.name }} &nbsp; <img src="{% static 'images/webmarket.png' %}" alt="{{ site.name }}" class="align-baseline" /></h2>
                        {% if request.META.PATH_INFO == '/' %}{% autoescape off %}{{ site.about }}{% endautoescape %}{% endif %}
                    </div>

                    <div class="span4">
                        <div class="main-titles lined">
                            <h3 class="title"><span class="light">Будь в курсе всех </span> скидок!</h3>
                        </div>
                        <p>Подпишись на рассылку акций и скидок.</p>
                        <!-- Begin MailChimp Signup Form -->
                        {% include 'email_code.html' %}
                        <!--End mc_embed_signup-->
                    </div>
                </div>
            </div>
        </div> <!-- /upper footer -->
{% endblock %}