{% extends 'base.html' %}
{% load staticfiles  %}

{% block content %}
<!--  ==========  -->
    <!--  = Breadcrumbs =  -->
    <!--  ==========  -->
    <div class="darker-stripe">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <ul class="breadcrumb">
                        <li>
                            <a href="{% url 'home' %}">Главная</a>
                        </li>
                        <li><span class="icon-chevron-right"></span></li>

                        {% if category.parent.parent %}<li><a href="{{ category.parent.parent.get_absolute_url }}">{{ category.parent.parent.name }}</a></li>
                        <li><span class="icon-chevron-right"></span></li>{% endif %}

                        {% if category.parent %}<li><a href="{{ category.parent.get_absolute_url }}">{{ category.parent.name }}</a></li>
                        <li><span class="icon-chevron-right"></span></li>{% endif %}

                        <li>
                            <a href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% block content_cat %}{% endblock %}

{% endblock %}