{% extends 'catalog/base_cat.html' %}
{% load staticfiles catalog_tag %}

{% block content_cat %}
<div class="container">
    <div class="push-up blocks-spacer">
        <div class="row">

            <!--  ==========  -->
            <!--  = Sidebar =  -->
            <!--  ==========  -->
            <aside class="span3 ">
                <div class="sidebar-item sidebar-filters">

                    <!--  ==========  -->
                    <!--  = Sidebar Title =  -->
                    <!--  ==========  -->
                    <div class="underlined">
                        <h3><span class="light">Категории</span></h3>
                    </div>

                    <!--  ==========  -->
                    <!--  = Categories =  -->
                    <!--  ==========  -->
                    <div>
{#                            <div class="accordion-heading">#}
{#                                <a class="accordion-toggle" data-toggle="collapse" href="#filterOne">Categories</a>#}
{#                            </div>#}
                        <div>
                            <div>
                                {% for cat_parent in category.category_parent.all %}
                                <a href="{{ cat_parent.get_absolute_url }}" class="selectable2"><i class="box"></i> {{ cat_parent.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div> <!-- /categories -->
                </div>
            </aside> <!-- /sidebar -->

            <!--  ==========  -->
            <!--  = Main content =  -->
            <!--  ==========  -->
            <section class="span9">

                <!--  ==========  -->
                <!--  = Title =  -->
                <!--  ==========  -->
                <div class="underlined push-down-20">
                    <div class="row">
                        <div class="span5">
                            <h3>{{ category.name }} <span class="light">{{ page_obj.paginator.count|ru_price }}</span></h3>
                        </div>
                    </div>
                </div> <!-- /title -->

                <!--  ==========  -->
                <!--  = Products =  -->
                <!--  ==========  -->
                <div class="row popup-products">
                    <div id="isotopeContainer" class="isotope-container">

                        {% for item in object_list %}
                        <div class="span3 filter--vests">
                            <div class="product">
                                    {% if item.oldprice %}<div class="stamp red">-{{ item.percent }}%</div>{% endif %}
{#                    	                <div class="stamp green">New</div>#}

                                <div class="product-img">
                                    <div class="picture">
                                        <img width="540" height="374" alt="{{ item.name }} за {{ item.price|ru_price }} {{ item.currency }}" src="{{ item.image }}" />
                                        <div class="img-overlay">
{#                    	                        <a class="btn more btn-primary" href="#">More</a>#}
{#                    	                        <a class="btn buy btn-danger" href="#">Add to Cart</a>#}
                                            <a href="{{ item.get_goto_url }}" rel="nofollow" class="img-overlay" style="cursor: pointer;"></a>
{#                                                <a class="btn more btn-primary" href="{{ item.get_absolute_url }}">Подробнее</a>#}
{#                                                <a class="btn buy btn-danger"  rel="nofollow" href="{{ item.get_goto_url }}" rel="nofollow">Купить</a>#}
                                        </div>
                                    </div>
                                </div>
                                <div class="product_info">
                                    <div class="main-titles no-margin">
                                        <h4 class="title" style="text-align: center">
                                            {% if item.oldprice %}
                                                <noindex><span class="striked" rel="nofollow"><i>{{ item.oldprice|ru_price }}</i> <small>{{ item.currency }}</small></span></noindex>
                                                <span class="red-clr">{{ item.price|ru_price }} </span>
                                            {% else %}
                                                {{ item.price|ru_price }}
                                            {% endif %}
                                            <small>{{ item.currency }}</small>
                                        </h4>
                                        <a class="no-margin isotope--title" href="{{ item.get_absolute_url }}">{{ item.name }}</a>
                                    </div>
                                </div>
                                <!--
                                    <p class="center-align stars">
                                        <span class="icon-star stars-clr"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                        <span class="icon-star"></span>
                                    </p>
                                -->
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
                <hr />

                <!--  ==========  -->
                <!--  = Pagination =  -->
                <!--  ==========  -->
                {% if is_paginated %}<div class="pagination pagination-centered">
                    <ul>
                        {% if page_obj.has_previous %}
                        <li><a href="{% if page_obj.previous_page_number == 1 %}{{ category.get_absolute_url }}{% else %}{{ category.get_absolute_url }}?page={{ page_obj.previous_page_number }}{% endif %}" class="btn btn-primary"><span class="icon-chevron-left"></span></a></li>
                        {% endif %}

                        {% for pag_num in page_lists %}
                            {% if pag_num != "..." %}
                                <li{% if pag_num == page_obj.number  %} class="active"{% endif %}><a href="{% if pag_num == 1 %}{{ category.get_absolute_url }}{% else %}{{ category.get_absolute_url }}?page={{ pag_num }}{% endif %}">{{ pag_num }}</a></li>
                            {% else %}
                                <li><a>{{ pag_num }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <li><a href="{{ category.get_absolute_url }}?page={{ page_obj.next_page_number }}" class="btn btn-primary"><span class="icon-chevron-right"></span></a></li>
                        {% endif %}
                    </ul>
                </div>{% endif %} <!-- /pagination -->

            </section> <!-- /main content -->
        </div>
    </div>
</div> <!-- /container -->
{% endblock %}