{% extends 'catalog/base_cat.html' %}
{% load staticfiles catalog_tag %}

{% block metatsg %}
    <meta property="og:title" content="{{ seo.title }}"/>
    <meta property="og:url" content="http://{{ site.domain }}{{ item.get_absolute_url }}"/>
    <meta property="og:image" content="{% if item.photo_item.all %}{{ item.photo_item.all.0.value }}{% else %}{{ item.picture }}{% endif %}"/>
    <meta property="og:type" content="product"/>
    <meta property="og:site_name" content="{{ site.domain }}"/>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{% static 'js/elevateZoom-3.0.8.min.js' %}"></script>
    <script type="text/javascript">
        $("#image1").elevateZoom({
            gallery:'gallery_01',
            cursor: 'pointer',
            galleryActiveClass: 'active',
            imageCrossfade: true,
            loadingIcon: '{% static 'images/spinningred.gif' %}',
            lensSize: 400,
            zoomType: "window",
            constrainType: false
        });
    </script>
{% endblock %}

{% block content_cat %}
<div class="container">
    <div class="push-up top-equal blocks-spacer">

        <!--  ==========  -->
        <!--  = Product =  -->
        <!--  ==========  -->
        <div class="row blocks-spacer" itemscope itemtype="http://schema.org/Product">
            <!--  ==========  -->
            <!--  = Preview Images =  -->
            <!--  ==========  -->
            <style>
                #gallery_01 img{border:2px solid white;}
                .active img{border:2px solid #333 !important;}
            </style>

            <div class="span5">
                <div class="product-preview">
                    <div class="picture">
                        <img id="image1" itemprop="image" data-zoom-image="{% if item.picture %}{{ item.image }}{% else %}{% static 'images/no_image.png' %}{% endif %}" src="{% if item.picture %}{{ item.image }}{% else %}{% static 'images/no_image.png' %}{% endif %}" alt="{{ item }}" title="{{ item }}" />
                    </div>
                    {% if item.picture %}
                    <div class="thumbs clearfix" id="gallery_01">
                        {% for photo in item.images %}
                            <div class="thumb{% if forloop.first %} active{% endif %}">
                            <a href="#" data-image="{{ photo }}" data-zoom-image="{{ photo }}" width="100" class="elevatezoom-gallery">
                                <img src="{{ photo }}" alt="" />
                            </a>
                            </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>

            <!--  ==========  -->
            <!--  = Title and short desc =  -->
            <!--  ==========  -->
            <div class="span7">
                <div class="product-title">
                    <h1 class="name" itemprop="name">{{ item }}</h1>
                    <div class="meta" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        {% if item.oldprice %}<span class="tag"><s>{{ item.oldprice|ru_price }} <small>{{ item.currency }}</small></s> <span style="color:red;" itemprop="price">{{ item.price|ru_price }} <small>{{ item.currency }}</small></span></span>
                            <br><br><p class="number"><i class="icon-hand-right"></i> Скидка {{ item.percent }}% | Экономия {{ item.savings }} руб.!</p>
                        {% else %}<span class="tag" itemprop="price">{{ item.price|ru_price }} <small>{{ item.currency }}</small></span>{% endif %}


                    </div>
                       <p style="margin-top: 20px;">
                        {% if item.show %}
                        <hr /><a href="{{ item.get_goto_url }}" class="btn btn-primary btn-large bold rounded" rel="nofollow"><strong><font size="6">&nbsp;&nbsp;КУПИТЬ&nbsp;&nbsp;</font></strong></a>{% else %}
                            <style>
                            .btn.btn-success.btn-red{ background-image: linear-gradient(to bottom, #EA5A64, #EA5A64); box-shadow: 0 2px 0 #C44B54; }
                            .btn.btn-success.btn-red:hover { background: none repeat scroll 0 0 #FF626D;}
                            </style>
                        <a href="{{ item.get_goto_url }}" class="btn btn-success btn-red btn-large bold" rel="nofollow"><strong>НЕТ В НАЛИЧИИ</strong></a>
                        <a href="{{ item.get_goto_url }}" class="btn btn-warning btn-large bold" rel="nofollow"><strong>ЗАКАЗАТЬ В ИНТЕРНЕТ-МАГАЗИНЕ {{ item.offer }}</strong></a>{% endif %}
                    </p>

                </div>

                <div class="row">
                    <!--  ==========  -->
                    <!--  = Tab style 2 =  -->
                    <!--  ==========  -->
                    <ul id="myTab2" class="nav nav-tabs nav-tabs-style-2">
                        <li>
                            <a href="#tab2-1" data-toggle="tab">ОПИСАНИЕ</a>
                        </li>
                        <li class="active">
                            <a href="#tab2-2" data-toggle="tab">ХАРАКТЕРИСТИКИ</a>
                        </li>
                        <li>
                            <a href="#tab2-3" data-toggle="tab">СПОСОБЫ ОПЛАТЫ</a>
                        </li>
                         <li>
                            <a href="#tab2-4" data-toggle="tab">ДОСТАВКА И ВОЗВРАТ</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="fade tab-pane " id="tab2-1">
                            <div itemprop="description">
                                {% if item.subtext %}<p>{{ item.subtext }}</p>{% endif %}
                             </div>
                        </div>
                        <div class="fade in tab-pane active" id="tab2-2">
                            {% if item.vendor %}{# <div itemprop="brand" itemscope itemtype="http://schema.org/Organization"> #}
                            <b>Брэнд:</b> <span{#  itemprop="name" #}>{{ item.vendor }}</span><br>{% endif %}

                            {% if item.param_item.all %}{% for params in item.param_item.all %}
                                {% if params.attr.show %}<b>{{ params.attr }}:</b> {{ params.value }}<br>{% endif %}
                            {% endfor %}{% endif %}
                        </div>
                        <div class="fade tab-pane" id="tab2-3">
                            <p>{% if item.offer.payment %}{{ item.offer.payment|safe }}{% else %}
                            <ul>
                            <li> Наличными курьеру при получении товара</li>
                            <li> Оплата банковской картой</li>
                            <li> Электронные деньги</li>
                            <li> Наложенным платежом при получении товара на почте</li>
                            </ul>{% endif %}
                            </p>
                        </div>
                        <div class="fade tab-pane" id="tab2-4">
                            <p>
                                {% if item.offer.return_policy %}{{ item.offer.return_policy|safe }}{% else %}
                                Бесплатная доставка по Москве и Московской области. Как правило, у большинства наших партнёров доставка в регионы РФ также бесплатная. Более подробную информацию про сроки и условия доставки можно узнать, нажав на кнопку "КУПИТЬ"{% endif %}
                            </p>
                        </div>
                    </div>
                </div>
                <hr />
                <p>
                <strong>Поделись с друзьям радостью от новой покупки:</strong>
                </p>
                <script type="text/javascript">
                    (function() {
                        if (window.pluso)if (typeof window.pluso.start == "function") return;
                        if (window.ifpluso==undefined) { window.ifpluso = 1;
                        var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                        s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
                        s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
                        var h=d[g]('body')[0];
                        h.appendChild(s);
                        }
                    })();
                </script>
                <div class="pluso" data-background="transparent" data-options="big,round,line,horizontal,nocounter,theme=04" data-services="vkontakte,twitter,odnoklassniki,facebook,google,moimir,email,print"></div>
            </div>

        </div>
    </div>
</div>

<div class="boxed-area no-bottom">
    <div class="container">

        <!--  ==========  -->
        <!--  = Title =  -->
        <!--  ==========  -->
        <div class="row">
            <div class="span12">
                <div class="main-titles lined">
                    <h2 class="title"><span class="light">Похожие</span> Товары</h2>
                </div>
            </div>
        </div>

        <!--  ==========  -->
        <!--  = Related products =  -->
        <!--  ==========  -->
        <div class="row popup-products">


            {% for similar in similars %}
            <div class="span3">
                <div class="product">
                    <div class="product-img">
                        <div class="picture">
                            {% if similar.oldprice %}<div class="stamp red">-{{ similar.percent }}%</div>{% endif %}
                            <img src="{{ similar.image }}" alt="" width="540" height="374" />
                            <div class="img-overlay">
                                <a href="{{ similar.get_absolute_url }}" class="btn more btn-primary">Подробнее</a>
                                <a href="{{ similar.get_goto_url }}" rel="nofollow" class="btn buy btn-danger">Купить</a>
                            </div>
                        </div>
                    </div>
                    <div class="main-titles no-margin">
                        <h4 class="title">{% if similar.oldprice %}
                            <span class="striked">{{ similar.oldprice|ru_price }} <small>{{ item.currency }}</small></span>
                            <span class="red-clr">{{ similar.price|ru_price }} <small>{{ item.currency }}</small></span>
                            {% else %}
                            {{ similar.price|ru_price }} <small>{{ item.currency }}</small>{% endif %}</h4>
                        <a href="{{ similar.get_absolute_url }}"> <h5 class="no-margin">{{ similar }}</h5></a>
                    </div>
{#                        <p class="desc">{{ similar.text }}</p>#}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}